In [1]:
import tensorflow as tf
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

2024-11-06 12:50:36.836936: I tensorflow/core/util/port.cc:153] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2024-11-06 12:50:36.841992: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-11-06 12:50:36.898410: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-11-06 12:50:36.955953: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1730908237.000407    4279 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1730908237.013028    4279 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-11-06 12:50:37.126432: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
dataset = pd.read_csv('./db/db.csv')

In [3]:
dataset

,ID_Transacao,Data_Hora_Transacao,Valor_Reembolso,Quantidade_Combustivel,Preco_Combustivel,ID_Veiculo,Consumo_Medio_Veiculo,Distancia_Percorrida,ID_Condutor,Num_Reembolsos_Recentes,Probabilidade_Fraude
0,1,2024-01-01 04:23:15,"108,51","18,8","5,78",134,"11,5","215,9",1072,2,0
1,2,2024-01-01 02:04:09,"275,63","37,6","7,34",191,"9,6","360,5",1021,4,0
2,3,2024-01-02 00:59:59,"135,47",19,"7,13",171,"11,8","224,2",1048,0,0
3,4,2024-01-01 20:44:14,"170,27","22,9","7,45",131,9,"205,7",1049,4,0
4,5,2024-01-01 09:03:43,"198,54","30,2","6,57",167,"14,1","426,1",1079,2,0
...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,2024-10-31 22:05:18,"140,67","20,8","6,76",139,"13,6",283,1087,1,0
3996,3997,2024-10-31 23:18:17,"294,27","41,7","7,05",105,"10,8","450,8",1026,1,0
3997,3998,2024-11-01 20:19:08,"193,25","34,6","5,59",175,"9,1","314,6",1064,3,0
3998,3999,2024-11-01 22:03:18,"219,88","33,1","6,65",111,14,"462,9",1083,3,0
3999,4000,2024-11-01 12:05:26,"188,24","31,5","5,98",111,"9,4","295,9",1007,2,0

In [4]:
dataset['Valor_Reembolso'] = dataset['Valor_Reembolso'].str.replace(',', '.')
dataset['Distancia_Percorrida'] = dataset['Distancia_Percorrida'].str.replace(',', '.')

In [5]:
dataset

,ID_Transacao,Data_Hora_Transacao,Valor_Reembolso,Quantidade_Combustivel,Preco_Combustivel,ID_Veiculo,Consumo_Medio_Veiculo,Distancia_Percorrida,ID_Condutor,Num_Reembolsos_Recentes,Probabilidade_Fraude
0,1,2024-01-01 04:23:15,108.51,"18,8","5,78",134,"11,5",215.9,1072,2,0
1,2,2024-01-01 02:04:09,275.63,"37,6","7,34",191,"9,6",360.5,1021,4,0
2,3,2024-01-02 00:59:59,135.47,19,"7,13",171,"11,8",224.2,1048,0,0
3,4,2024-01-01 20:44:14,170.27,"22,9","7,45",131,9,205.7,1049,4,0
4,5,2024-01-01 09:03:43,198.54,"30,2","6,57",167,"14,1",426.1,1079,2,0
...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,2024-10-31 22:05:18,140.67,"20,8","6,76",139,"13,6",283,1087,1,0
3996,3997,2024-10-31 23:18:17,294.27,"41,7","7,05",105,"10,8",450.8,1026,1,0
3997,3998,2024-11-01 20:19:08,193.25,"34,6","5,59",175,"9,1",314.6,1064,3,0
3998,3999,2024-11-01 22:03:18,219.88,"33,1","6,65",111,14,462.9,1083,3,0
3999,4000,2024-11-01 12:05:26,188.24,"31,5","5,98",111,"9,4",295.9,1007,2,0

In [6]:
X_train = dataset[['Valor_Reembolso', 'Distancia_Percorrida', 'Num_Reembolsos_Recentes']]

In [7]:
y_train = dataset[['Probabilidade_Fraude']]

In [8]:
y_train.shape

(4000, 1)

In [9]:
X_train.shape

(4000, 3)

In [10]:
dataset[dataset['Probabilidade_Fraude'] != '1']

,ID_Transacao,Data_Hora_Transacao,Valor_Reembolso,Quantidade_Combustivel,Preco_Combustivel,ID_Veiculo,Consumo_Medio_Veiculo,Distancia_Percorrida,ID_Condutor,Num_Reembolsos_Recentes,Probabilidade_Fraude
0,1,2024-01-01 04:23:15,108.51,"18,8","5,78",134,"11,5",215.9,1072,2,0
1,2,2024-01-01 02:04:09,275.63,"37,6","7,34",191,"9,6",360.5,1021,4,0
2,3,2024-01-02 00:59:59,135.47,19,"7,13",171,"11,8",224.2,1048,0,0
3,4,2024-01-01 20:44:14,170.27,"22,9","7,45",131,9,205.7,1049,4,0
4,5,2024-01-01 09:03:43,198.54,"30,2","6,57",167,"14,1",426.1,1079,2,0
...,...,...,...,...,...,...,...,...,...,...,...
3995,3996,2024-10-31 22:05:18,140.67,"20,8","6,76",139,"13,6",283,1087,1,0
3996,3997,2024-10-31 23:18:17,294.27,"41,7","7,05",105,"10,8",450.8,1026,1,0
3997,3998,2024-11-01 20:19:08,193.25,"34,6","5,59",175,"9,1",314.6,1064,3,0
3998,3999,2024-11-01 22:03:18,219.88,"33,1","6,65",111,14,462.9,1083,3,0
3999,4000,2024-11-01 12:05:26,188.24,"31,5","5,98",111,"9,4",295.9,1007,2,0

In [11]:
y_train['Probabilidade_Fraude'] = y_train['Probabilidade_Fraude'].str.replace(',', '.').astype(float)

# Converter todas as colunas de X_train para float
X_train = X_train.astype(float)

/tmp/ipykernel_4279/779182389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_train['Probabilidade_Fraude'] = y_train['Probabilidade_Fraude'].str.replace(',', '.').astype(float)

In [12]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Input(shape=[3]),
    tf.keras.layers.Dense(units=64, activation='relu'),
    tf.keras.layers.Dense(units=32, activation='relu'),
    tf.keras.layers.Dense(units=16, activation='relu'),
    tf.keras.layers.Dense(units=1, activation='sigmoid'),
])

model.compile(optimizer=tf.keras.optimizers.Adam(), loss='binary_crossentropy')

2024-11-06 12:50:39.214495: E external/local_xla/xla/stream_executor/cuda/cuda_driver.cc:152] failed call to cuInit: INTERNAL: CUDA error: Failed call to cuInit: UNKNOWN ERROR (303)

In [13]:
y_train[y_train['Probabilidade_Fraude'] != '0']

      Probabilidade_Fraude
0                      0.0
1                      0.0
2                      0.0
3                      0.0
4                      0.0
...                    ...
3995                   0.0
3996                   0.0
3997                   0.0
3998                   0.0
3999                   0.0

[4000 rows x 1 columns]

In [14]:
model.fit(X_train, y_train, epochs=50)

Epoch 1/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 1s 948us/step - loss: 0.4192
Epoch 2/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 796us/step - loss: 0.2259
Epoch 3/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 774us/step - loss: 0.2131
Epoch 4/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 805us/step - loss: 0.1869
Epoch 5/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 818us/step - loss: 0.1644
Epoch 6/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 771us/step - loss: 0.1595
Epoch 7/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 618us/step - loss: 0.1294
Epoch 8/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 647us/step - loss: 0.1106
Epoch 9/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 681us/step - loss: 0.2111
Epoch 10/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 594us/step - loss: 0.1102
Epoch 11/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 727us/step - loss: 0.1217
Epoch 12/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 681us/step - loss: 0.0913
Epoch 13/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - loss: 0.0889
Epoch 14/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 686us/step - loss: 0.0925
Epoch 15/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 681us/step - loss: 0.1089
Epoch 16/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 715us/step - loss: 0.0751
Epoch 17/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 624us/step - loss: 0.1066
Epoch 18/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 732us/step - loss: 0.0813
Epoch 19/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 634us/step - loss: 0.0673
Epoch 20/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 711us/step - loss: 0.0960
Epoch 21/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 741us/step - loss: 0.0727
Epoch 22/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 677us/step - loss: 0.0797
Epoch 23/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 612us/step - loss: 0.0752
Epoch 24/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - loss: 0.0705
Epoch 25/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 688us/step - loss: 0.0760
Epoch 26/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 642us/step - loss: 0.0943
Epoch 27/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 715us/step - loss: 0.0685
Epoch 28/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 679us/step - loss: 0.0637
Epoch 29/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 754us/step - loss: 0.0702
Epoch 30/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 674us/step - loss: 0.0607
Epoch 31/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 629us/step - loss: 0.0707
Epoch 32/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 605us/step - loss: 0.0620
Epoch 33/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 733us/step - loss: 0.0573
Epoch 34/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 716us/step - loss: 0.0658
Epoch 35/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 726us/step - loss: 0.0654
Epoch 36/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 658us/step - loss: 0.0709
Epoch 37/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 697us/step - loss: 0.0572
Epoch 38/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 718us/step - loss: 0.0529
Epoch 39/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 666us/step - loss: 0.0546
Epoch 40/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 793us/step - loss: 0.1016
Epoch 41/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 710us/step - loss: 0.0601
Epoch 42/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 600us/step - loss: 0.0555
Epoch 43/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 626us/step - loss: 0.0691
Epoch 44/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 708us/step - loss: 0.0580
Epoch 45/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 717us/step - loss: 0.0649
Epoch 46/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 689us/step - loss: 0.0636
Epoch 47/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 706us/step - loss: 0.0529
Epoch 48/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 688us/step - loss: 0.0513
Epoch 49/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 761us/step - loss: 0.0621
Epoch 50/50
125/125 ━━━━━━━━━━━━━━━━━━━━ 0s 668us/step - loss: 0.0654

In [15]:
X_train

      Valor_Reembolso  Distancia_Percorrida  Num_Reembolsos_Recentes
0              108.51                 215.9                      2.0
1              275.63                 360.5                      4.0
2              135.47                 224.2                      0.0
3              170.27                 205.7                      4.0
4              198.54                 426.1                      2.0
...               ...                   ...                      ...
3995           140.67                 283.0                      1.0
3996           294.27                 450.8                      1.0
3997           193.25                 314.6                      3.0
3998           219.88                 462.9                      3.0
3999           188.24                 295.9                      2.0

[4000 rows x 3 columns]

In [31]:
import numpy as np
predict = model.predict(np.array([[200, 200, 1]]))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 12ms/step

In [32]:
predict

array([[0.00446503]], dtype=float32)

In [39]:
model.save('albz-fraudix_v1.1.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.